<footer class="footer has-background-beige">

	<section class="section is-hidden-mobile">
		<div class="container is-small">
			<div class="columns">
				<div class="column">
					<h4 class="title is-7 is-uppercase has-text-grey">features</h4>
					<ul>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/design"
								title="Design" rel="noopener">Design</a>
						</li>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/build"
								title="Build" rel="noopener">Build</a>
						</li>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/teams"
								title="Teams" rel="noopener">Teams</a>
						</li>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/accessibility"
								title="Accessibility" rel="noopener">Accessibility</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<h4 class="title is-7 is-uppercase has-text-grey">Solutions</h4>
					<ul>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/education"
								title="Education" rel="noopener">Education</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/health"
								title="Health" rel="noopener">Health</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/employee-wellness"
								title="Employee Wellness" rel="noopener">Employee Wellness</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="/cms/all/themes"
								title="Covid-19" rel="noopener" target="_blank">Covid-19</a>
						</li>
					</ul>
				</div>
				
				<div class="column">
					<h4 class="title is-7 is-uppercase has-text-grey">Explore</h4>
					<ul>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/starter-kits"
								title="Starter Kits" rel="noopener">Starter Kits</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/deploy"
								title="Deploy" rel="noopener">Deploy</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/pricing"
								title="Pricing" rel="noopener">Pricing</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="/cms/all/themes"
								title="Learn about our design tools for other platforms" rel="noopener"
								target="_blank">Not SharePoint?</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<h4 class="title is-7 is-uppercase has-text-grey">Resources</h4>
					<ul>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/resources/blog"
								title="Blog" rel="noopener">Blog</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold"
								href="//bindtuning.com/resources/case-study" title="Customer Stories"
								rel="noopener">Customer Stories</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/resources/session"
								title="Webinars" rel="noopener">Webinars</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold"
								href="https://support.bindtuning.com/hc/en-us" title="Support" target="_blank"
								rel="noopener">Support</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<h4 class="title is-7 is-uppercase has-text-grey">About us</h4>
					<ul>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/about"
								title="Who we are" rel="noopener">Who we are</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/partners"
								title="Partners" rel="noopener">Partners</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/resources/event"
								title="Events" rel="noopener">Events</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold"
								href="//bindtuning.com/resources/press-release" title="Press Releases"
								rel="noopener">Press Releases</a>
						</li>
					</ul>
				</div>

				<div class="column is-4 has-text-right-desktop has-text-centered-mobile has-text-left-tablet">
					<img loading="lazy" class="logo" alt="BindTuning logo"
						src="//bindtuning.com/images/btlogo_black.png"
						data-src="https://bindtuning.com/images/btlogo_black.png">
					<div class="content is-small text-info">Copyright Ⓒ 2020 Bind.
						<br>All rights reserved.<br class="is-hidden-desktop">
						<a href="https://bindtuning-legal.readthedocs.io/en/latest/Licenses/Privacy%20Policy/"
							target="_blank" class="has-text-weight-bold has-text-black" rel="noopener">Privacy
							Policy.</a>
						<br>

					</div>

					<div class="social-network has-text-right-tablet">
						<a href="https://www.linkedin.com/company/bindtuning" target="_blank"
							class="social-network__linkedin" rel="noopener">
							<i class="ion-logo-linkedin"></i>
						</a>

						<a href="https://twitter.com/bindskins" target="_blank" class="social-network__twitter"
							rel="noopener">
							<i class="ion-logo-twitter"></i>
						</a>

						<a href="https://www.youtube.com/bindskins" target="_blank" class="social-network__youtube"
							rel="noopener">
							<i class="ion-logo-youtube"></i>
						</a>

						<a href="https://www.instagram.com/bindtuningcom" target="_blank"
							class="social-network__instagram" rel="noopener">
							<i class="ion-logo-instagram"></i>
						</a>

						<a href="https://facebook.com/bindskins" target="_blank" class="social-network__facebook"
							rel="noopener">
							<i class="ion-logo-facebook"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="section is-hidden-desktop is-hidden-tablet mobile has-background-beige">
		<div class="container">
			<div class="columns is-mobile">
				<div class="column is-12">
					<img loading="lazy" class="logo-mobile" alt="BindTuning logo" src="//bindtuning.com/images/btlogo_black.png" data-src="//bindtuning.com/images/btlogo_black.png">
					<div class="content is-small text-info">Copyright Ⓒ 2020 Bind.
						<br>All rights reserved.
						<a href="https://bindtuning-legal.readthedocs.io/en/latest/Licenses/Privacy%20Policy/"
						target="_blank" class="has-text-weight-bold has-text-black" rel="noopener">Privacy
						Policy.</a><br>				
					</div>
					<a href="https://www.linkedin.com/company/bindtuning" target="_blank" rel="noopener">
						<img loading="lazy" class="footer-icons-mobile space-icons-mobile"
						src="//bindtuning.com/images/footer_dark_linkedin.png" alt="BindTuning
						Linkedin" data-src="//bindtuning.com/images/footer_dark_linkedin.png">
					</a>
					<a href="https://twitter.com/bindskins" target="_blank" rel="noopener">
						<img loading="lazy" class="footer-icons-mobile space-icons-mobile"
						src="//bindtuning.com/images/footer_dark_twitter.png" alt="BindTuning Twitter"
						data-src="//bindtuning.com/images/footer_dark_twitter.png">
					</a>
					<a href="https://www.youtube.com/bindskins" tagert="_blank" rel="noopener">
						<img loading="lazy" class="footer-icons-mobile space-icons-mobile"
						src="//bindtuning.com/images/footer_dark_youtube.png" alt="BindTuning YouTube"
						data-src="//bindtuning.com/images/footer_dark_youtube.png">
					</a>
					<a href="https://www.instagram.com/bindtuningcom/" target="_blank" rel="noopener">
						<img loading="lazy" class="footer-icons-mobile space-icons-mobile"
						src="//bindtuning.com/images/footer_dark_instagram.png" alt="BindTuning Instagram"
						data-src="//bindtuning.com/images/footer_dark_instagram.png">
					</a>
					<a href="http://facebook.com/bindskins" target="_blank" rel="noopener">
						<img loading="lazy" class="footer-icons-mobile space-icons-mobile"
							src="//bindtuning.com/images/footer_dark_facebook.png" alt="BindTuning
							Facebook" data-src="//bindtuning.com/images/footer_dark_facebook.png">
					</a>
				</div>
			</div>
			<div class="columns is-mobile">
				<div class="column">
					<h4 class="title is-7 is-uppercase has-text-grey">features</h4>
					<ul>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/design" title="Design"
								rel="noopener">Design</a>
						</li>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/build" title="Build"
							rel="noopener">Build</a>
						</li>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/teams" title="Teams"
							rel="noopener">Teams</a>
						</li>
						
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/accessibility"
								title="Accessibility" rel="noopener">Accessibility</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<h4 class="title is-7 is-uppercase has-text-grey">Solutions</h4>
					<ul>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/education"
								title="Education" rel="noopener">Education</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/health"
								title="Health" rel="noopener">Health</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/employee-wellness"
								title="Employee Wellness" rel="noopener">Employee Wellness</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="/cms/all/themes"
								title="Covid-19" rel="noopener" target="_blank">Covid-19</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="columns is-mobile">
				<div class="column second-row">
					<h4 class="title is-7 is-uppercase has-text-grey">Explore</h4>
					<ul>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/starter-kits" title="Starter Kits"
							rel="noopener">Starter Kits</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/deploy" title="Deploy"
							rel="noopener">Deploy</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/pricing" title="Pricing"
							rel="noopener">Pricing</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/cms/all/themes"
							title="Learn about our design tools for other platforms" rel="noopener" target="_blank">Not SharePoint?</a>
						</li>
					</ul>
				</div>
				<div class="column second-row">
					<h4 class="title is-7 is-uppercase has-text-grey">resources</h4>
					<ul>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/resources/blog" title="Blog"
							rel="noopener">Blog</a>
						</li>
						<li>
							<a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/resources/case-study"
								title="Customer Stories" rel="noopener">Customer Stories</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/resources/session"
							title="Webinars" rel="noopener">Webinars</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="http://support.bind.pt/hc/en-us"
							title="Support" target="_blank" rel="noopener">Support</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="columns is-mobile">
				<div class="column second-row">
					<h4 class="title is-7 is-uppercase has-text-grey">about us</h4>
					<ul>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/about" title="Who we are"
							rel="noopener">Who
							we are</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/partners" title="Partners"
							rel="noopener">Partners</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/resources/event" title="Events"
							rel="noopener">Events</a>
						</li>
						<li><a class="has-text-dark has-text-weight-semibold" href="//bindtuning.com/resources/press-release"
							title="Press Releases" rel="noopener">Press Releases</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</footer>
<section class="section footer-bottom-2020">
	<div class="container ">
		<div class="columns">
		<div class="column is-6 has-text-left has-text-centered-mobile">
			<img src="//cf.bindtuning.com/images/footer_2020.jpg" loading="lazy" alt="International Growth Strategy logo" data-src="https://cf.bindtuning.com/images/footer_2020.jpg">
		</div>
		<div class="column is-6 has-text-right has-text-centered-mobile">
			<p class="title is-size-7 is-size-7-mobile">
			<a href="/international-growth" rel="noopener">International Growth Strategy</a>
			</p>
		</div>
		</div>
	</div>
</section>