html {
    background-color: #fff;
    font-size: 16px;
}

/* REMOVE SOME ELEMENTS */

.wy-side-nav-search, .wy-side-nav-search>a:before, li.wy-breadcrumbs-aside, .ethical-rtd.ethical-dark-theme, .wy-menu-vertical .subnav ul:empty, .wy-menu-vertical .subnav ul ul li>a:before, .wy-body-for-nav .rst-versions, .wy-body-for-nav .rst-versions.rst-badge {
    display: none!important
}

.wy-body-for-nav .keep-us-sustainable {
    padding: .5em;
    margin: 1em 0;
    text-align: center;
    border: none;
    border-top: 1px dotted #ddd
}

.wy-body-for-nav p {
    margin-bottom: 10px
}

.wy-body-for-nav .keep-us-sustainable a {
    color: #000!important;
    font-size: 14px;
    line-height: 20px
}

a .icon {
    display: none !important;
}

/* DOCUMENTATION CONTENT */

.wy-grid-for-nav {
    background-color: #fff
}

nav.wy-nav-side {
    top: 110px;
    z-index: 1;
    overflow:initial;
    width: 250px;
    padding: 0!important;
    background: #fbf3e9!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15)
}

.wy-nav-content, .wy-nav-content-wrap {
    background-color: #fff!important;
    max-width: 100%;
    margin: 0
}

.wy-nav-content {
    padding-top: 110px;
}

/* Breadcrumb */

.wy-breadcrumbs {
    margin: 0
}

.wy-breadcrumbs li, .wy-breadcrumbs li a {
    display: inline-block;
    padding: 0 3px 0 0!important;
    font-size: 14px!important;    
    color: #000!important
}

.wy-breadcrumbs li:nth-last-child(2) {
    display: block;
    font-size: 30px!important;
    font-weight: 500;
    color: #000!important
}

/* MENU VERTICAL */

.BT-MobileMenu {
    left: -330px;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s
}

.BT-OpenSideBar {
    margin-right: -3px;
    cursor: pointer;
    margin-top: 3px;
}

.wy-menu.wy-menu-vertical ol>li a, .wy-menu.wy-menu-vertical ul>li a {
    padding: 3px 10px!important;
    font-size: .9rem;
    font-weight: 400 !important;
    font-family: "Red Hat Text";
    line-height: 1.35rem;
    text-decoration: none!important;
}

.wy-menu-vertical .subnav ul li>a:before, .wy-menu-vertical .subnav ul ul li>a:before {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    right: -10px;
    top: 7px;
    transform: rotate(90deg);
}

.wy-menu-vertical .subnav ul li>a.current:before, .wy-menu-vertical .subnav ul ul li>a.current:before {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    right: -10px;
    top: 7px;
    transform: rotate(-90deg)!important;
}

.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    border: none!important;
    font-weight: 300!important
}

.wy-menu-vertical li.current>a:hover, .wy-menu-vertical li.on a:hover {
    color: #000!important;
    background-color: transparent
}

.wy-menu-vertical li.current>a {
    color: #cdcdcd;
    font-size: 12px;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700!important
}

.wy-menu-vertical li.current a {
    border: none
}

.wy-menu-vertical a:hover {
    background-color: transparent!important;
    color: #222!important
}

.wy-menu-vertical li, .wy-menu-vertical li.current, .wy-menu-vertical li.current ul.subnav {
    background-color: transparent
}

.wy-menu-vertical .subnav .wy-menu-vertical li.current>a {
    font-weight: 400;
}
/* 
.wy-menu-vertical ul li ul li ul>li {
    padding-bottom: 5px!important
} */

.wy-menu-vertical ul li ul li ul ul>li:last-child {
    padding-bottom: 0!important;
    border-bottom: none
}

.wy-menu-vertical .subnav .caption-text {
    padding: 2px 10px!important
}

.wy-menu-vertical .subnav a {
    color: #222
}

.wy-side-nav-search a {
    font-size: 16px;
    max-width: 80%
}

.wy-menu-vertical .subnav ul li>a:before {
    display: block
}

.wy-menu-vertical .subnav>li.current>a {
    color: #333;
    text-transform: none;
    font-size: 14px;
    font-weight: 500!important;
}

.wy-menu-vertical .subnav li>a, .wy-menu-vertical li>.caption-text {
    color: #555
}

.wy-menu-vertical .subnav li>a:hover {
    color: #000;
    font-weight: 500 !important;
}

.wy-menu-vertical .subnav ul>li>a {
    color: #5f6060
}

.wy-menu-vertical li ul.subnav ul.subnav {
    background-color: transparent;
    padding: 0 10px!important;
    margin: 0 0 0 0px!important
}

.wy-menu-vertical li.toctree-l1:not(:first-child) {
    margin-top: 10px
}

.wy-menu-vertical li.current ul ul {
    padding: 10px 20px!important;
    background-color: #fafafa;
    margin-top: -10px
}

.wy-menu-vertical .subnav ul li>a[href^="#"]::before {
    content: '-'
}

.wy-menu.wy-menu-vertical {
    padding: 30px;
    overflow-y: auto
}

.wy-menu-vertical a, .wy-menu-vertical span {
    font-size: 14px;
    color: #fff;
    font-weight: 300!important
}

.wy-menu-vertical a {
    font-weight: 100!important
}

li.toctree-l1>a, li.toctree-l1>span {
    font-size: 1rem;
    padding: 10px 0!important;
    text-align: left;
    font-weight: 500!important;
    color: #000!important;
    line-height: 1.5rem;
    font-family: "Red Hat Text";
}

li.toctree-l1>span {
    padding: 0 !important;
}

.wy-menu-vertical li, .wy-menu-vertical li.current {
    background-color: transparent;
    padding: 0;
    margin: 0
}

.wy-menu.wy-menu-vertical {
    position: relative;
    height: 100%
}

.wy-side-nav-search a {
    line-height: 20px!important;
    font-weight: 700;
    width: 100%
}

.wy-menu-vertical ul {
    margin: 0!important
}

.wy-menu-vertical li ul {
    display: inherit;
    padding-top: 0px;
    background-color: rgba(255, 255, 255, .12);
    padding-left: 0;
    padding-bottom: 0px
}

li.toctree-l1>span.collapsed:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

a {
    color: #1d252a;
}

a:hover, a:visited {
    color: #1d252a;
    text-decoration: none!important
}

/* SCROLL STYLES */

/* ::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #1d252a
} */

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{opacity: 1 !important;}

/* NEWS STYLES */

/* LOADING STYLES */

#bt-loading {
    position: absolute;
    left: 0;
    top: 0;
    background: #fbf3e9;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.lds-ellipsis {
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #1d252a;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

/* FIXS ON THEME CSS*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Red Hat Display" !important;
}

.wy-nav-content-wrap h1, .wy-nav-side h1 {
    font-size: 48px !important;
}

.wy-nav-content-wrap h2, .wy-nav-side h2 {
    font-size: 36px !important;
}

.wy-nav-content-wrap h3, .wy-nav-side h3 {
    font-size: 24px !important;
}

.wy-nav-content-wrap h4, .wy-nav-side h4 {
    font-size: 20px !important;
}

.wy-nav-content-wrap h5, .wy-nav-side h5 {
    font-size: 18px !important;
}

.wy-nav-content-wrap h6, .wy-nav-side h6, .wy-nav-content-wrap p, .wy-nav-side p {
    font-size: 16px !important;
}

#getstarted-input-header {
    border: 2px solid !important;
}

.button span.icon {
    padding: 3px !important;
    margin: 0 !important;
}

.rst-footer-buttons {
    margin: 101px 0px 0px;
}

nav.stickynav {
    position: absolute;
}

.footer-bottom-2020{background: #fff;}
.footer-bottom-2020 .columns .column p.title{margin-top: 1em;}

/* MEDIA QUERIES */

@media (max-width:768px) {
    img {
        width: auto !important;
    }
    .wy-nav-top {
        display: none
    }
    .wy-grid-for-nav nav.wy-nav-side {
        width: 320px!important;
        height: 100%!important
    }
    .header {
        padding-bottom: 0!important;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .05);
        z-index: 1;
        background: #fff;
    }
    footer.footer{padding: 0 !important;}
    .mobile .content.is-small.text-info{margin-bottom: 0 !important;}
    .footer-icons-mobile{margin-bottom: .6rem;}
    .footer-bottom-2020 .columns .column img{width:60% !important}
}


/* IE Fix Scroll Issue BAD BROWSER -.- */

body > .ms-scroll-edge {
    position: relative !important;
    overflow-y: auto !important;
    height: 100%;
}


@media screen and (max-width: 1023px){
    #menu {
        left: unset;
        width: 100%;
        right: -100%;
        display: block;
        transition: all .3s ease;
    }
    #menu.active{
        right: 0;
    }

    .navbar-burger.BT-OpenSideBar{
        position: absolute;
        right: 10px;
    }
    .icon-enter{
        margin-right: 45px;
        margin-top: 3px;
    }
}